:root {
    --dark-red: #651d32;
    --yellow: #f5e1a4;
    --dark-orange: #9d432c;
    --blue: #001489;
    --dark-blue: #1c2441;
    --gray: #d9d9d6;
    --green: #126680;
    --white: #ffffff;
}

html {
    font-size: 20px;
}

body {
    color: var(--dark-blue);
    font-family: 'Akkurat', Arial, Helvetica, sans-serif;
    border: 5px solid var(--dark-red);
    padding: 0;
    min-height: 100vh;height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tiempos', Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: var(--dark-red);
    outline: 1px solid var(--dark-red);
    border: 0px solid var(--dark-red);
    /* margin: -1px; */
    color: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: sticky;
}

.header-title {
    text-align: center;
}

.header-title h2 {
    font-size: 1.2rem;
}

.content {
    margin-top: 40px;
}

.content .main-title {
    text-align: center;
    margin-bottom: 40px;
}

.content .main-title h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0 10px;
}

#language-select {
    position: absolute;
    top: 0;
    right: 0;
}

#language-select #lang {
    border: none;
}

.searcher-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 5%;

    padding: 0 5%;
}

.search-option-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 10px;
    /* column-gap row-gap */
    height: auto;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.search-option {
    display: flex;
    align-content: center;
    align-items: center;
}

#path-instructions {
    background-color: var(--yellow);
    padding: 5px;
    color: white;
    margin: 0px;
    border: 0;
    margin-top: 10px;
    /* border-radius: 5px; */
}

#path-instructions .instruction-move,
#path-instructions .instruction-wrapper,
#path-instructions .final-instruction-text {
    background-color: var(--dark-orange);
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
}

#path-instructions .instruction-move {
    font-size: .9rem;
    opacity: .8;
}

#path-instructions .instruction-wrapper.has-image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    column-gap: 10px;
}

#path-instructions .instruction-wrapper .instruction-image {
    width: 20%;
    max-width: 150px;
    cursor: pointer;
}

#path-instructions .instruction-wrapper .instruction-image img {
    width: 100%;
}

#path-instructions .initial-turn-instruction {
    display: flex;
    border-bottom: 3px solid var(--dark-orange);
    color: var(--dark-blue);
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#path-instructions .initial-turn-instruction i{
    margin-right: 2px;
    cursor: pointer;
}

#dark-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#fullscreen-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fullscreen-image img {
    width: 90%;
    height: auto;
}

.noscroll {
    overflow: hidden;
}


.btn-primary,
.btn-primary:disabled,
.btn-primary:focus {
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn:focus,
.btn:active,
.btn:focus:active,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
    box-shadow: none;
}



/*******************/
/** TOGGLE STYLES **/
/*******************/

.vscomp-ele {
    max-width: 80%;
}

@media (min-width: 1200px) {
    .content {
        max-width: 1100px;
        width: 80%;
        margin: auto;
    }

    #fullscreen-image img{
        max-width: 800px;
        width: 50%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-blue);
        color: var(--gray);
    }

    #language-select #lang {
        background-color: var(--dark);
        color: var(--gray);
    }

    #path-instructions {
        background-color: var(--gray-dark);
        background-color: transparent;
    }

    #path-instructions .initial-turn-instruction {
        color: var(--gray);
    }

    .btn-primary,
    .btn-primary:disabled,
    .btn-primary:focus {
        background-color: var(--green);
        border-color: var(--green);
        color: var(--gray);
    }

    .vscomp-ele-wrapper .vscomp-toggle-button,
    .vscomp-ele-wrapper .vscomp-dropbox {
        color: var(--gray);
        background-color: var(--gray-dark)!important;
        border: none;
    }

    .vscomp-ele-wrapper .vscomp-option.focused,
    .vscomp-ele-wrapper .vscomp-option.selected {
        color: var(--gray-dark);
    }
}