

.searcher-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 5%;

    padding: 0 5%;
}

.search-option-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 10px;
    /* column-gap row-gap */
    height: auto;
    margin-bottom: 20px;
    justify-content: space-evenly;
}



/*******************/
/** TOGGLE STYLES **/
/*******************/

.vscomp-ele {
    max-width: 80%;
}

/*******************/
/** TOGGLE STYLES **/
/*******************/
/* Toggle from https://codepen.io/xirclebox/pen/wvGmjbV */
/* Author Homer Gaines */

.toggle {
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 700;
    margin-bottom: 0;
    /* margin-bottom: 16px; */
}


/* .toggle:last-of-type {
    margin: 0;
} */

.toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.toggle__input:not([disabled]):active+.toggle-track,
.toggle__input:not([disabled]):focus+.toggle-track {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #121943;
}

.toggle__input:disabled+.toggle-track {
    cursor: not-allowed;
    opacity: 0.7;
}

.toggle-track {
    background: #e5efe9;
    border: 1px solid #5a72b5;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 20px;
    margin-right: 12px;
    position: relative;
    width: 40px;
}

.toggle-indicator {
    align-items: center;
    background: #121943;
    border-radius: 15px;
    bottom: 1.5px;
    display: flex;
    height: 15px;
    justify-content: center;
    left: 2px;
    outline: solid 2px transparent;
    position: absolute;
    transition: 0.25s;
    width: 15px;
}

.checkMark {
    fill: #fff;
    height: 20px;
    width: 20px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.toggle__input:checked+.toggle-track .toggle-indicator {
    background: #126680;
    transform: translateX(19px);
}

.toggle__input:checked+.toggle-track .toggle-indicator .checkMark {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}