:root {
    --dark-red: #651d32;
    --yellow: #f5e1a4;
    --dark-orange: #9d432c;
    --blue: #001489;
    --dark-blue: #1c2441;
    --gray: #d9d9d6;
    --green: #126680;
    --white: #ffffff;
}

html {
    font-size: 20px;
}

body {
    color: var(--dark-blue);
    font-family: 'Akkurat', Arial, Helvetica, sans-serif;
    border: 5px solid var(--dark-red);
    padding: 0;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Tiempos', Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: var(--dark-red);
    outline: 1px solid var(--dark-red);
    border: 0px solid var(--dark-red);
    /* margin: -1px; */
    color: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: sticky;
}

.header-title {
    text-align: center;
}

.header-title h2 {
    font-size: 1.2rem;
}

.content {
    margin-top: 40px;
}

.content .main-title {
    text-align: center;
    margin-bottom: 40px;
}

.content .main-title h3 {
    font-size: 1.2rem;
}

.searcher-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 5%;

    padding: 0 5%;
}

.search-option-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 10px;
    /* column-gap row-gap */
    height: auto;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.btn-primary,
.btn-primary:disabled,
.btn-primary:focus {
    background-color: var(--blue);
    border-color: var(--blue);
}

.btn:focus,
.btn:active,
.btn:focus:active,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
    box-shadow: none;
}



/*******************/
/** TOGGLE STYLES **/
/*******************/

.vscomp-ele {
    max-width: 80%;
}

/*******************/
/** TOGGLE STYLES **/
/*******************/
/* Toggle from https://codepen.io/xirclebox/pen/wvGmjbV */
/* Author Homer Gaines */

.toggle {
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 700;
    margin-bottom: 0;
    /* margin-bottom: 16px; */
}


/* .toggle:last-of-type {
    margin: 0;
} */

.toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.toggle__input:not([disabled]):active+.toggle-track,
.toggle__input:not([disabled]):focus+.toggle-track {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #121943;
}

.toggle__input:disabled+.toggle-track {
    cursor: not-allowed;
    opacity: 0.7;
}

.toggle-track {
    background: #e5efe9;
    border: 1px solid #5a72b5;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 20px;
    margin-right: 12px;
    position: relative;
    width: 40px;
}

.toggle-indicator {
    align-items: center;
    background: #121943;
    border-radius: 15px;
    bottom: 1.5px;
    display: flex;
    height: 15px;
    justify-content: center;
    left: 2px;
    outline: solid 2px transparent;
    position: absolute;
    transition: 0.25s;
    width: 15px;
}

.checkMark {
    fill: #fff;
    height: 20px;
    width: 20px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.toggle__input:checked+.toggle-track .toggle-indicator {
    /* background: #126680; */
    background: var(--green);
    transform: translateX(19px);
}

.toggle__input:checked+.toggle-track .toggle-indicator .checkMark {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

@media screen and (max-width: 750px) {
    /* .search-option-wrapper {
        flex-direction: column;
    }    */
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --dark-red: #651d32;
        --yellow: #f5e1a4;
        --dark-orange: #9d432c;
        --blue: #00158a;
        --dark-blue: #1c2441;
        --gray: #d9d9d6;
        --green: #126680;
        --white: #ffffff;
    }

    body {
        background-color: #191b24;
        color: var(--gray);
    }
} */